{% extends 'dashboard/dashboard_main.html' %}
{% block sidebar %}
{% if request.user.is_authenticated %}
            <nav class="sidebar-nav">
                <a href="/sacola">
                    <img src="..\..\static\sacola.png" class="sacola">
                </a>   
            </nav>
        {% endif %}
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div id="sacola-info" class="profile">
    <h2>Confirmar remoção</h2>
<p>Você deseja remover o endereço abaixo?</p>
<p>{{ endereco.rua }}, {{ endereco.numero }} / {{ endereco.cidade }} - {{ endereco.estado }} ({{ endereco.cep }})</p>
<form method="POST">
    {% csrf_token %}
    <button id="botao" type="submit" style="border: none;">Sim, remover</button>
    <a href="/profile/">Cancelar</a>
</form>
{% else %}
Você não tem acesso a essa página! Faça login: <br>
<a class="btn btn-dark mt-4 mt-4" href="/">Voltar</a>
{% endif %}
{% endblock %}