{% extends 'main.html' %}

{%  block content %}
    {% if request.user.is_authenticated %}
       <h1 class="titulo">Work in progress...</h1>
        Estamos trabalhando para construir o resto do site. Você conseguiu fazer login! <br>
        <a href="/logouts/ ">Sair</a>
        <hr>

        {% if perms.foo.add_vote %}
            <p>Como você tem permissão de editar usuários você pode ver i!</p>
    {% endif %}
    {% else %}
         Você não tem acesso a essa Conta!
    {% endif %}
{% endblock %}