{% extends 'dashboard/dashboard_main.html' %}
{% block sidebar %}
{% if request.user.is_authenticated %}
            <nav class="sidebar-nav">
                <a href="/sacola">
                    <img src="..\..\static\sacola.png" class="sacola">
                </a>   
            </nav>
        {% endif %}
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div id="sacola-info" class="profile">
    <h2>Escaneie o QR Code para concluir o pagamento:</h2>
    <img src="..\..\static\pixqrcodegen.png" style="height: 270; width: 270;" alt="QR Code Pix">
    <p class="copy-text" onclick="copiarTexto(this)">{{codigo}}</p>
    <p>Após realizar o pagamento, aguarde a confirmação.</p>
    <a id="botao" href="/pedidos">Conferir meus pedidos</a>
{% else %}
Você não tem acesso a essa página! Faça login: <br>
<a class="btn btn-dark mt-4 mt-4" href="/">Voltar</a>
{% endif %}
{% endblock %}