.fundo {
    background: #f0f0f0 url('../background_login_cad.jpg') no-repeat fixed center;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    height: 100vh;
  } 

.container2 {
    display: flex;

}

.final {
    justify-self: flex-end;
}

.button-container {
    width: 523px;
    height: 523px;
}

#botao{
    background-color: #BC1D1D;
    color:white;
    border: none;
}

.titulo{
    color: #BC1D1D;
}

.background {
    background: #f0f0f0 url('../background_dashboard.jpg') no-repeat fixed center;
    background-size: cover;
}

.top-container {
    width: 97vw;
    height: 109px;
    display: flex;
    gap: 50px;
    position: fixed;
    z-index: 1000;
}

.button-container,.top-container,.sidebar,.content-bar {
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #787878;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #BC1D1D;
}

.sidebar {
    position: fixed;
    left: 4px;
    top: 120px;
    width: 244px;
    height: calc(97% - 109px);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav li {
    margin-bottom: 15px;
}

.sidebar-nav a {
    color: #787878;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 18px;
}

.sidebar-nav a:hover {
    color: #BC1D1D;
}

.sacola {
    height: 72px;
    width: 72px;
    justify-self: flex-end;
    margin-top: auto;
}

.content {
    padding-top: 109px;
    margin-left: 244px;
    padding: 20px;
    height: 82vh;
    width: calc(50vh-280px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.content-bar {
    width: 80vw;
    height: 206px;
    display: flex;
    flex-shrink: 0;
}

.content-bar:hover {
    border: 2px, solid, #BC1D1D;
}
